src/ws/OjekWS5.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="OjekWSImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:9999/ws/OjekWS?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getDriverWith">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getDriverWithResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getProfileData">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getProfileDataResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getDriver">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="getDriverResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"></part>
</message>
<message name="editProfileData">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="editProfileDataResponse"></message>
<message name="insertHistory">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:int"></part>
<part name="arg6" type="xsd:string"></part>
</message>
<message name="insertHistoryResponse"></message>
<portType name="OjekWS">
<operation name="getDriverWith">
<input wsam:Action="http://ws/OjekWS/getDriverWithRequest" message="tns:getDriverWith"></input>
<output wsam:Action="http://ws/OjekWS/getDriverWithResponse" message="tns:getDriverWithResponse"></output>
</operation>
<operation name="getProfileData">
<input wsam:Action="http://ws/OjekWS/getProfileDataRequest" message="tns:getProfileData"></input>
<output wsam:Action="http://ws/OjekWS/getProfileDataResponse" message="tns:getProfileDataResponse"></output>
</operation>
<operation name="getDriver" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://ws/OjekWS/getDriverRequest" message="tns:getDriver"></input>
<output wsam:Action="http://ws/OjekWS/getDriverResponse" message="tns:getDriverResponse"></output>
</operation>
<operation name="editProfileData" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://ws/OjekWS/editProfileDataRequest" message="tns:editProfileData"></input>
<output wsam:Action="http://ws/OjekWS/editProfileDataResponse" message="tns:editProfileDataResponse"></output>
</operation>
<operation name="insertHistory" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://ws/OjekWS/insertHistoryRequest" message="tns:insertHistory"></input>
<output wsam:Action="http://ws/OjekWS/insertHistoryResponse" message="tns:insertHistoryResponse"></output>
</operation>
</portType>
<binding name="OjekWSImplPortBinding" type="tns:OjekWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="getDriverWith">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"></soap:body>
</output>
</operation>
<operation name="getProfileData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"></soap:body>
</output>
</operation>
<operation name="getDriver">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"></soap:body>
</output>
</operation>
<operation name="editProfileData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"></soap:body>
</output>
</operation>
<operation name="insertHistory">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"></soap:body>
</output>
</operation>
</binding>
<service name="OjekWSImplService">
<port name="OjekWSImplPort" binding="tns:OjekWSImplPortBinding">
<soap:address location="http://localhost:9999/ws/OjekWS"></soap:address>
</port>
</service>
</definitions>